.footer {
    background-color: black;
    color: #61dbfb;
    padding: 16px;
    bottom: 0;
}

.texto-footer, .footer {
    text-align: center;
}

iframe {
    width: 380px;
    border: none;
}

@keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

.logotipo {
    animation: logo-spin infinite 20s linear;
  }